

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    padding-top: 0px;
    line-height: 16px;
    background-color: #80c191; 
}

hr {
    margin: 1px;
}
.modal {
    width: auto;
    left: 57%;
}

label.checkbox {
    float: none;
    margin-top: -6px;
    margin-bottom: 15px;
    margin-left: 1px;
    width: 280px;
}

.userInfo {
    padding: 10px 0px;
}

.userInfoSpan2 {
    margin-left: 10px;
    font-size: 13px;
    font-style: italic;
}

.userTeamBadge {
    float: right;
    margin-right: 6px;
}

.table{
    border: solid 2px lightgrey;
}
.title-site{
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    font-size: 23px;
    background: url(/assets/img/headerBg1px1.png) ;
}

#title-cav{
    background: url(/assets/img/logo1x.png) no-repeat;
    padding: 22px 70px;
    color: #FFF;
}

.glyphicon {
    padding-right: 5px;
}

.reitero-num{
    cursor:pointer;
    text-align: center;
}

tr.reclamo_row.reitero1 {
    background-color: indianred;
}

tr.reclamo_row.reitero2 {
    background-color: red;
}

tr.reclamo_row.reitero3 {
    background-color: red;
}

tr.reclamo_row.reitero4 {
    background-color: red;
}

tr.reclamo_row.reitero5 {
    background-color: red;
}

