

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    padding-top: 0px;
    line-height: 16px;
    /*  background-color: #80c191;  */
}


hr {
    margin: 1px;
}
.modal {
    width: auto;
    left: 57%;
}

label.checkbox {
    float: none;
    margin-top: -6px;
    margin-bottom: 15px;
    margin-left: 1px;
    width: 280px;
}

.userInfo {
    padding: 10px 0px;
}

.userInfoSpan2 {
    margin-left: 10px;
    font-size: 13px;
    font-style: italic;
}

.userTeamBadge {
    float: right;
    margin-right: 6px;
}

.table{
    border: solid 2px lightgrey;
}
.title-site{
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    font-size: 23px;
    background: url(/assets/img/headerBg1px1.png) ;
    background-repeat-y: no-repeat;
    background-size: contain;
}

#title-cav{
    background: url(/assets/img/logo1x.png) no-repeat;
    color: #FFF;
    background-size: 130px;
    /* padding: 1px 130px; */
}

.glyphicon {
    padding-right: 5px;
}

.reitero-num{
    cursor:pointer;
    text-align: center;
}

tr.reclamo_row.reitero1 {
    background-color: indianred;
}

tr.reclamo_row.reitero2 {
    background-color: red;
}

tr.reclamo_row.reitero3 {
    background-color: red;
}

tr.reclamo_row.reitero4 {
    background-color: red;
}

tr.reclamo_row.reitero5 {
    background-color: red;
}

.navbar.navbar-default.upload-form{
    background-color: #80c191;
    border: none;
}

/* ------------------- */ 


#title-cav{
    font-size: 20px;
}


#title-cav h2{
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: inherit;
    margin-left: -35px;
    font-style: inherit;
    font-weight: 100;
}

#title-cav h4{
    
}

#title-cav .iconos{
    margin-top: 30px;
}

#title-cav .social{
    margin-top: 20px;
}

.iconos{
    border-left: 1px solid #9f9f9f;    
}

.social h4 {
    float: right;
    font-size: 0.6em;
    position: relative;
    top: 12px;
    /* color: #92211d; */
    color: #FFF;
    text-align: right;
    font-weight: 600;
}
.icono{
    float: left;
}

.vecinos_filtrados th{
    cursor: pointer;
}

.vecinos_filtrados td{
    cursor: pointer;
}

.main-box .alert{
    padding: 0px;
}

.alert .fa-exclamation {
    border-radius: 50%;
    background: #ed1b2f;
    font-size: 4em;
    color: #FFFFFF;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 3px;
    border: 3px solid #FFFFFF;
    position: absolute;
    z-index: 1;
    top: -6px;
    left: -10px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.alert p {
    background: #ed1b2f;
    padding: 0px 15px;
    color: #FFFFFF;
    font-size: 1.6em;
    line-height: 1.6em;
    font-weight: 200;
    text-transform: uppercase;
    width: 99%;
    height: 33px;
    overflow: hidden;
    border-radius: 20px;
}

.fa-exclamation:before {
    content: "\f12a";
}

.nombre-vecino{
    padding-top: 10px;
    padding-left: 10px;
    font-family: cursive;
    border: solid 1px;
    background-color: darkgrey;
}
.calle.input-search-result{
  background-color: #dfdcbf;
  margin-bottom: 10px;
}
.calle.input-search-result div{
      border-bottom: 1px solid white;
}
.calle.input-search-result div:hover{
  font-weight: 600;
}

.calle.input-search-result .hover{
  font-weight: 600;
}
.container h1, .container h2{
    font-family: monospace;
    font-style: italic;
    font-weight: 600;
    margin: 20px 10px;
}
.container h1{

}
.container h2{

}